#container {
  width: 800px;
  margin: auto;
}
.square {
  height: 16px;
  width: 16px;
  background-color: red;  
  float: left;
}
#reset {
  text-align: center;
  width: 400px;
  margin: auto;
}
h1 {
  font-family: sans-serif;
  margin-bottom: 5px;
}
p {
  font-family: sans-serif;
  margin-top: 10px;
}
#source {
  text-align: center;
  clear: left;
  margin-top: 830px;
}